# Finder config files
.DS_Store

# Build script products
/dist
out/
/tmp

# IntelliJ config & temp files
/ideaSDK
*.iml
.idea/
/android-studio/sdk
workspace.xml

# Maven config (do we need this?)
*.versionsBackup

# Gradle config & temp
.gradle/
/local.properties

# Swift/SPM config & temp
.build/
Package.resolved
.swiftpm/

# Codegen build products
build/
codegen/protocol-test-codegen-local/smithy-build.json
codegen/protocol-test-codegen/smithy-build.json
SmokeTests/

# vim temporary files
*.swp

# VS Code config files
.vscode/

# Allow the AWSSDKSwiftCLI Package.resolved
# while excluding all other Package.resolved files
!/AWSSDKSwiftCLI/Package.resolved
