<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awsCRTSwiftBranch</key>
	<string>main</string>
	<key>awsCRTSwiftVersion</key>
	<string>0.36.0</string>
	<key>clientRuntimeBranch</key>
	<string>main</string>
	<key>clientRuntimeVersion</key>
	<string>0.74.0</string>
</dict>
</plist>
