name: Build | Amplify Swift
on:
  workflow_dispatch:
  workflow_call:

permissions:
    contents: read

jobs:
  analytics-unit-test-iOS:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          persist-credentials: false
      - name: Build Amplify Swift for iOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          xcode_path: '/Applications/Xcode_14.3.app'

  analytics-unit-test-macOS:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          persist-credentials: false
      - name: Build Amplify Swift for macOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          destination: platform=macOS,arch=x86_64
          sdk: macosx
          xcode_path: '/Applications/Xcode_14.3.app'

  analytics-unit-test-tvOS:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          persist-credentials: false
      - name: Build Amplify Swift for tvOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: scheme: Amplify-Package
          destination: platform=tvOS Simulator,name=Apple TV 4K (3rd generation),OS=latest
          sdk: appletvsimulator
          xcode_path: '/Applications/Xcode_14.3.app'

  analytics-unit-test-watchOS:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          persist-credentials: false
      - name: Build Amplify Swift for watchOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          destination: platform=watchOS Simulator,name=Apple Watch Series 8 (45mm),OS=latest
          sdk: watchsimulator
          xcode_path: '/Applications/Xcode_14.3.app'
