name: Build with Minimum Supported Xcode Versions
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  actions: write

jobs:
  build-amplify-with-minimum-supported-xcode:
    name: Build Amplify Swift for ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [iOS, macOS, tvOS, watchOS]

    uses: ./.github/workflows/build_scheme.yml
    with:
      scheme: Amplify-Build
      os-runner: ${{ (matrix.platform == 'tvOS' || matrix.platform == 'watchOS') && 'macos-13' || 'macos-12' }}
      xcode-version: 'minimum'
      platform: ${{ matrix.platform }}
      save_build_cache: false

  confirm-pass:
    runs-on: ubuntu-latest
    name: Confirm Passing Build Steps
    if: ${{ !cancelled() }}
    needs: [ build-amplify-with-minimum-supported-xcode ]
    env:
      EXIT_CODE: ${{ contains(needs.*.result, 'failure') && 1 || 0 }}
    steps:
      - run: exit $EXIT_CODE
