name: Build with Minimum Supported Xcode Versions
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  actions: write

jobs:
  build-amplify-with-minimum-supported-xcode:
    name: Build Amplify Swift for ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os-runner: macos-12
            xcode-version: 14.0.1
            platform: iOS

          - os-runner: macos-12
            xcode-version: 14.0.1
            platform: macOS

          - os-runner: macos-12
            xcode-version: 14.0.1
            platform: tvOS

          - os-runner: macos-12
            xcode-version: 14.0.1
            platform: watchOS

    uses: ./.github/workflows/build_amplify_swift.yml
    with:
      os-runner: ${{ matrix.os-runner }}
      xcode-version: ${{ matrix.xcode-version }}
      platform: ${{ matrix.platform }}
      cachable: false

  confirm-pass:
    runs-on: ubuntu-latest
    name: Confirm Passing Build Steps
    if: ${{ !cancelled() }}
    needs: [ build-amplify-with-minimum-supported-xcode ]
    env:
      EXIT_CODE: ${{ contains(needs.*.result, 'failure') && 1 || 0 }}
    steps:
      - run: exit $EXIT_CODE
