name: Build | Amplify Swift
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - release

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main'}}

jobs:
  build-amplify-swift-iOS:
    runs-on: macos-13
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Build Amplify Swift for iOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          destination: 'platform=iOS Simulator,name=iPhone 14,OS=16.4'
          xcode_path: '/Applications/Xcode_14.3.app'

  build-amplify-swift-macOS:
    runs-on: macos-13
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Build Amplify Swift for macOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          destination: platform=macOS,arch=x86_64
          sdk: macosx
          xcode_path: '/Applications/Xcode_14.3.app'

  build-amplify-swift-tvOS:
    runs-on: macos-13
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Build Amplify Swift for tvOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          destination: platform=tvOS Simulator,name=Apple TV 4K (3rd generation),OS=16.4
          sdk: appletvsimulator
          xcode_path: '/Applications/Xcode_14.3.app'

  build-amplify-swift-watchOS:
    runs-on: macos-13
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Build Amplify Swift for watchOS
        uses: ./.github/composite_actions/run_xcodebuild
        with:
          scheme: Amplify-Package
          destination: platform=watchOS Simulator,name=Apple Watch Series 8 (45mm),OS=9.4
          sdk: watchsimulator
          xcode_path: '/Applications/Xcode_14.3.app'
