name: Canary Test

on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *' # Everyday 16:00 UTC

permissions: {}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  canary-test:
    strategy:
      matrix:
        include:
          - os: macos-15
            xcode-version: '16.4.0'
            device: 'iPhone 16 Pro Max'
            version: '18.5'
          - os: macos-15
            xcode-version: '16.0.0'
            device: 'iPhone 16 Pro Max'
            version: '18.0'
    name: Canary Test - Xcode ${{ matrix.xcode-version }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
        with:
          persist-credentials: false

      - name: Install amplify-cli
        run: npm install -g @aws-amplify/cli@12.2.0

      - name: Create Sample Amplify App
        working-directory: ${{ github.workspace }}/canaries/example
        run: amplify init --quickstart --frontend ios

      - name: Setup Ruby
        uses: ruby/setup-ruby@efbf473cab83af4468e8606cc33eca9281bb213f # v1.256.0
        with:
          ruby-version: '3.2.1'
          bundler-cache: true
          working-directory: ${{ github.workspace }}/canaries/example

      - name: Set Default Xcode Version to ${{ matrix.xcode-version }}
        run: |
          sudo xcode-select -s "/Applications/Xcode_${{ matrix.xcode-version }}.app"
          xcodebuild -version

      - name: Install simulators if needed
        uses: ./.github/composite_actions/install_simulators_if_needed
        with:
          xcode_version: ${{ matrix.xcode-version }}
          platform: iOS

      - name: Run Tests - ${{ matrix.device }} with iOS ${{ matrix.version }}
        working-directory: ${{ github.workspace }}/canaries/example
        run: |
          export FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT=120
          bundle exec fastlane scan --device "${{ matrix.device }}" --deployment_target_version "${{ matrix.version }}"

