name: Integration Tests | API - All
on:
  workflow_dispatch:
  workflow_call:

permissions:
    id-token: write
    contents: read 

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  prepare-for-test:
    runs-on: macos-12
    environment: IntegrationTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          persist-credentials: false

      - name: Verify copy resources
        uses: ./.github/composite_actions/download_test_configuration
        with:
          resource_subfolder: NA
          aws_role_to_assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws_region: ${{ secrets.AWS_REGION }}
          aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET_INTEG }}

  functional-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_functional.yml
    secrets: inherit

  graphql-user-pool-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_graphql_user_pool.yml
    secrets: inherit

  graphql-auth-directive-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_graphql_auth_directive.yml
    secrets: inherit

  graphql-iam-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_graphql_iam.yml
    secrets: inherit

  graphql-lambda-auth-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_graphql_lambda_auth.yml
    secrets: inherit

  graphql-lazy-load-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_graphql_lazy_load.yml
    secrets: inherit

  rest-user-pool-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_rest_user_pool.yml
    secrets: inherit

  rest-iam-test:
    needs: prepare-for-test
    uses: ./.github/workflows/integ_test_api_rest_iam.yml
    secrets: inherit
