name: Amplify Nightly Repeated Unit Test
on:
  workflow_dispatch:
  schedule:
    - cron: '30 1 * * *'

permissions:
    contents: read

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  unit_tests:
    name: ${{ matrix.scheme }} Repeated Unit Tests
    strategy:
      matrix:
        scheme: [
          Amplify,
          AWSPluginsCore,
          AWSAPIPlugin,
          AWSCloudWatchLoggingPlugin,
          AWSCognitoAuthPlugin,
          AWSDataStorePlugin,
          AWSLocationGeoPlugin,
          AWSPredictionsPlugin,
          AWSPinpointAnalyticsPlugin,
          AWSPinpointPushNotificationsPlugin,
          AWSS3StoragePlugin,
          CoreMLPredictionsPlugin,
          InternalAWSPinpointUnitTests
        ]
    uses: ./.github/workflows/run_xcodebuild_test_platforms.yml
    with:
      scheme: ${{ matrix.scheme }}
      generate_coverage_report: false
      retry_on_error: false
      other_flags: -test-iterations 100 -run-tests-until-failure
