name: Run xcodebuild test on all supported platforms
on:
  workflow_call:
    inputs:
      scheme:
        description: 'The scheme to run the tests'
        required: true
        type: string
      timeout-minutes:
        description: 'The timeout for each execution'
        required: false
        type: number
        default: 30
      generate_coverage_report:
        description: 'Whether to generate and report code coverage'
        required: false
        type: boolean
        default: false

env:
  SCHEME: ${{ inputs.scheme }}

permissions:
    contents: read

jobs:
  test-iOS:
    name: ${{ inputs.scheme }} iOS Tests
    runs-on: macos-13
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Cache packages
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: packages-cache
        with:
          path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          key: ${{ runner.os }}-iOS-packages-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-iOS-packages-
      - name: Cache build
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: build-cache
        with:
          path: Build
          key: ${{ runner.os }}-iOS-build-${{ github.sha }}
      - name: Run iOS Test Suite
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          scheme: ${{ env.SCHEME }}
          destination: 'platform=iOS Simulator,name=iPhone 14,OS=16.4'
          xcode_path: '/Applications/Xcode_14.3.app'
          generate_coverage: ${{ inputs.generate_coverage_report }}
          retry_on_failure: false
          cloned_source_packages_path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          derived_data_path: Build
      - name: Upload Report File
        if: ${{ inputs.generate_coverage_report == true }}
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce #v3.1.2
        with:
          name: ${{ env.SCHEME }}-Coverage-${{ github.sha }}
          path: ${{ github.workspace }}/${{ env.SCHEME }}-Coverage.lcov
          if-no-files-found: error
          retention-days: 1


  test-macOS:
    name: ${{ inputs.scheme }} macOS Tests
    runs-on: macos-13
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Cache packages
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: packages-cache
        with:
          path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          key: ${{ runner.os }}-macOS-packages-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-macOS-packages-
      - name: Cache build
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: build-cache
        with:
          path: Build
          key: ${{ runner.os }}-macOS-build-${{ github.sha }}
      - name: Run macOS Test Suite
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          scheme: ${{ env.SCHEME }}
          destination: platform=macOS,arch=x86_64
          sdk: macosx
          xcode_path: '/Applications/Xcode_14.3.app'
          retry_on_failure: false
          cloned_source_packages_path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          derived_data_path: Build

  test-tvOS:
    name: ${{ inputs.scheme }} tvOS Tests
    runs-on: macos-13
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Cache packages
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: packages-cache
        with:
          path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          key: ${{ runner.os }}-tvOS-packages-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-tvOS-packages-
      - name: Cache build
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: build-cache
        with:
          path: Build
          key: ${{ runner.os }}-tvOS-build-${{ github.sha }}
      - name: Run tvOS Test Suite
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          scheme: ${{ env.SCHEME }}
          destination: platform=tvOS Simulator,name=Apple TV 4K (3rd generation),OS=16.4
          sdk: appletvsimulator
          xcode_path: '/Applications/Xcode_14.3.app'
          retry_on_failure: false
          cloned_source_packages_path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          derived_data_path: Build

  test-watchOS:
    name: ${{ inputs.scheme }} watchOS Tests
    runs-on: macos-13
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false
      - name: Cache packages
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: packages-cache
        with:
          path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          key: ${{ runner.os }}-watchOS-packages-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-watchOS-packages-
      - name: Cache build
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        id: build-cache
        with:
          path: Build
          key: ${{ runner.os }}-watchOS-build-${{ github.sha }}
      - name: Run watchOS Test Suite
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          scheme: ${{ env.SCHEME }}
          destination: platform=watchOS Simulator,name=Apple Watch Series 8 (45mm),OS=9.4
          sdk: watchsimulator
          xcode_path: '/Applications/Xcode_14.3.app'
          retry_on_failure: false
          cloned_source_packages_path: ~/Library/Developer/Xcode/DerivedData/${{ env.SCHEME }}
          derived_data_path: Build
