name: Unit Tests | All
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - release

permissions:
    contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main'}}

jobs:
  unit-tests-without-coverage:
    name: ${{ matrix.scheme }} Unit Tests
    strategy:
      fail-fast: false
      matrix:
        scheme: [
          InternalAWSPinpointUnitTests
        ]
    uses: ./.github/workflows/run_xcodebuild_test_platforms.yml
    with:
      scheme: ${{ matrix.scheme }}
      generate_coverage_report: false

  unit-tests-with-coverage:
    name: ${{ matrix.scheme.name }} Unit Tests
    strategy:
      fail-fast: false
      matrix:
        scheme: [
          Amplify,
          AWSPluginsCore,
          AWSAPIPlugin,
          AWSCloudWatchLoggingPlugin,
          AWSCognitoAuthPlugin,
          AWSDataStorePlugin,
          AWSLocationGeoPlugin,
          AWSPredictionsPlugin,
          AWSPinpointAnalyticsPlugin,
          AWSPinpointPushNotificationsPlugin,
          AWSS3StoragePlugin,
          CoreMLPredictionsPlugin
        ]
    uses: ./.github/workflows/run_xcodebuild_test_platforms.yml
    with:
      scheme: ${{ matrix.scheme }}
      generate_coverage_report: true

  report-coverage:
    needs: [unit-tests-with-coverage]
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        file: [
          { prefix: Amplify, flags: 'Amplify,unit_tests' },
          { prefix: AWSPluginsCore, flags: 'AWSPluginsCore,unit_tests' },
          { prefix: AWSAPIPlugin, flags: 'API_plugin_unit_test,unit_tests' },
          { prefix: AWSCloudWatchLoggingPlugin, flags: 'Logging_plugin_unit_test,unit_tests' },
          { prefix: AWSCognitoAuthPlugin, flags: 'Auth_plugin_unit_test,unit_tests' },
          { prefix: AWSDataStorePlugin, flags: 'DataStore_plugin_unit_test,unit_tests' },
          { prefix: AWSLocationGeoPlugin, flags: 'Geo_plugin_unit_test,unit_tests' },
          { prefix: AWSPredictionsPlugin, flags: 'Predictions_plugin_unit_test,unit_tests' },
          { prefix: AWSPinpointAnalyticsPlugin, flags: 'Analytics_plugin_unit_test,unit_tests' },
          { prefix: AWSPinpointPushNotificationsPlugin, flags: 'PushNotifications_plugin_unit_test,unit_tests' },
          { prefix: AWSS3StoragePlugin, flags: 'Storage_plugin_unit_test,unit_tests' },
          { prefix: CoreMLPredictionsPlugin, flags: 'CoreMLPredictions_plugin_unit_test,unit_tests' }
        ]
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 #v3.5.3
        with:
          persist-credentials: false

      - name: Retrieve Coverage file
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a #v3.0.2
        with:
          name: ${{ matrix.file.prefix }}-Coverage-${{ github.sha }}
          path: ${{ github.workspace }}

      - name: Upload report to Codecov
        shell: bash
        run: |
          build-support/codecov.sh -F '${{ matrix.file.flags }}'
