name: Unit Tests | All
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - release

permissions:
    contents: read

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-amplify-swift:
    uses: ./.github/workflows/build_amplify_swift.yml

  amplify-unit-test:
    uses: ./.github/workflows/unit_test_amplify.yml

  analytics-unit-test:
    uses: ./.github/workflows/unit_test_analytics.yml

  api-unit-test:
    uses: ./.github/workflows/unit_test_api.yml

  auth-unit-test:
    uses: ./.github/workflows/unit_test_auth.yml

  datastore-unit-test:
    uses: ./.github/workflows/unit_test_datastore.yml

  geo-unit-test:
    uses: ./.github/workflows/unit_test_geo.yml

  internal-pinpoint-unit-test:
    uses: ./.github/workflows/unit_test_internal_pinpoint.yml

  predictions-unit-test:
    uses: ./.github/workflows/unit_test_predictions.yml

  push-notifications-unit-test:
    uses: ./.github/workflows/unit_test_push_notifications.yml

  storage-unit-test:
    uses: ./.github/workflows/unit_test_storage.yml
