name: Unit Tests
on: 
  pull_request: 
    branches:      
      - main      
      - dev-preview

permissions:
    contents: read 

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  analytics-unit-test:
    runs-on: macos-12
    environment: UnitTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run unit test
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          project_path: .
          scheme: AWSPinpointAnalyticsPlugin

  amplify-unit-test:
    runs-on: macos-12
    environment: UnitTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run unit test
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          project_path: .
          scheme: Amplify

  api-unit-test:
    runs-on: macos-12
    environment: UnitTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run unit test
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          project_path: .
          scheme: AWSAPIPlugin  

  auth-unit-test:
    runs-on: macos-12
    environment: UnitTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run unit test
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          project_path: .
          scheme: AWSCognitoAuthPlugin

  datastore-unit-test:
    runs-on: macos-12
    environment: UnitTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run unit test
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          project_path: .
          scheme: AWSDataStorePlugin
  
  storage-unit-test:
    runs-on: macos-12
    environment: UnitTest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Run unit test
        uses: ./.github/composite_actions/run_xcodebuild_test
        with:
          project_path: .
          scheme: AWSS3StoragePlugin  
