name: Unit Tests | Internal Pinpoint
on:
  workflow_dispatch:

permissions:
    contents: read

jobs:
  internal-pinpoint-unit-tests:
    uses: ./.github/workflows/run_xcodebuild_test_platforms.yml
    with:
      scheme: InternalAWSPinpointUnitTests
