name: Unit Tests | All
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - release

permissions:
    contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests-without-coverage:
    name: ${{ matrix.scheme }} Unit Tests
    strategy:
      fail-fast: false
      matrix:
        scheme: [
          InternalAWSPinpointUnitTests
        ]
    uses: ./.github/workflows/run_xcodebuild_test_platforms.yml
    with:
      scheme: ${{ matrix.scheme }}
      submit_coverage_report: false

  unit-tests-with-coverage:
    name: ${{ matrix.scheme }} Unit Tests
    strategy:
      fail-fast: false
      matrix:
        scheme: [
          Amplify,
          AWSPluginsCore,
          AWSAPIPlugin,
          AWSCloudWatchLoggingPlugin,
          AWSCognitoAuthPlugin,
          AWSDataStorePlugin,
          AWSLocationGeoPlugin,
          AWSPredictionsPlugin,
          AWSPinpointAnalyticsPlugin,
          AWSPinpointPushNotificationsPlugin,
          AWSS3StoragePlugin,
          CoreMLPredictionsPlugin
        ]
    uses: ./.github/workflows/run_xcodebuild_test_platforms.yml
    with:
      scheme: ${{ matrix.scheme }}
      submit_coverage_report: true
